/* @font-face {
    font-family: 'Nasalization';
    src: url('../../assets/font/nasalization.ttf');
}

* {
    color: black;
    font-family: 'Nasalization';
} */

body {
  color: black;
  margin: 0;
  font-family: poppins;
}

.error {
  text-align: center;
  color: red;
}

nav {
  width: 100vw;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14.1px);
  -webkit-backdrop-filter: blur(14.1px);
}

.burger-menu {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 0.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.menu{
  position: fixed;
  left: -100%;
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  transition: all 0.5s ease-in-out;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.close-menu{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}


.open{
  left : 0;
}

nav ul li {
  list-style-type: none;
}

nav ul {
  display: flex;
  justify-content: end;
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 1rem;
  margin-right: 2rem;
  font-weight: bold;
}

.wrapper {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper h1 {
  margin: 0;
  text-align: center;
}

.wrapper img {
  margin-top: 2rem;
  width: 40rem;
  height: auto;
  border-radius: 50px;
}

.liste_p {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-top: 2rem;
  column-gap: 1.5rem;
  row-gap: 2rem;
}

.liste_p img {
  width: 20rem;
  height: 20rem;
  border-radius: 0.8rem;
  justify-content: center;
}

.product img {
  width: 20rem;
  height: 20rem;
  margin-top: 4rem;
  border-radius: 0.8rem;
  justify-content: center;
}

.coca {
  border: 1px solid black;
  border-radius: 15px;
  list-style-type: none;
  text-align: center;
}

.product {
  border: 1px solid black;
  border-radius: 15px;
  list-style-type: none;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  width: 15rem;
  height: 3rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
}

input[type="submit"] {
  width: 15.5rem;
  height: 3rem;
  background-color: #1e90ff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}

button {
  background-color: #1e90ff;
  color: white;
  height: 2rem;
  border-radius: 6px;
  border: solid 1px #1e90ff;
}

button a {
  color: white;
  text-decoration: none;
}

.signup-form {
  margin-top: 4rem;
}

.success {
  padding-top: 15rem;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  color: green;
}

#avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
}

.avatar {
  width: 8.5rem;
  height: 9rem;
  border-radius: 100%;
}

.profile-card {
  width: 50rem;
  height: 30rem;
  margin: auto;
  display: flex;
  -webkit-box-shadow: 1px 15px 12px -6px rgba(166, 166, 166, 1);
  -moz-box-shadow: 1px 15px 12px -6px rgba(166, 166, 166, 1);
  box-shadow: 1px 15px 12px -6px rgba(166, 166, 166, 1);
  border-radius: 20px;
}

.profile-card section {
  display: flex;
}

.left {
  background: linear-gradient(90deg, pink 0%, violet 100%);
  width: 15rem;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.left img {
  width: 10rem;
  height: 10rem;
  border-radius: 100px;
  margin-bottom: 1rem;
}

.right {
  width: 35rem;
  padding: 1.5rem;
}

.right div {
  width: 17.5rem;
}

.email,
.phone {
  display: block;
}
